*{
    margin: 0px;
    padding:0px;
}
html {
    font-family:"Gill Sans MT";
    background-color: #688db9;
    color: azure;
}

body{
    font-family:"Gill Sans MT";
    width: auto;
    height:0px;
    background-color: darkblue;
}

h1{
    text-align: center;
    color: white;
    
}

input[type="search"] {
    flex: 15;
    font-size: 15px;
    height: 35px;
    border-radius: 15px;
}


input[type="submit"] {
    flex: 15;
    border: none;
    width: 100px;
    background:salmon;
    color: white;
    font-size: 14px;
    padding: 5px 15px;  
    cursor: pointer;
    margin-bottom: 10;
}


.controls {
    display: flex;
    font-size: 16px;
    font-weight: 200;
    border: 1px solid #cecaca;
    padding: 5px 5px;
    font: bold;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    margin: 8px;
    margin-top: 5px;
    width: 300px;  
}



.boton {
    background:salmon;
    border: none;
    color: white;
    font-size: 16px;
    margin: 8px;
    padding: 5px 5px;
    margin-top: 10px;
    cursor: pointer;
    width: 200px;
    font: bold;
    border-radius: 25px;
    
}
form {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#ventasGeneral{
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
}

#buscarVentas{
    display: flex;
    flex-direction:column;
    width: 1000px;   
}

#buscarVentas #buscar{
    width: 300px;
}

#producto{
    width: 500px;
    height: 360px;
    border-radius: 25px;  
    justify-content: center;
    border-color: gray;
    border-width: 1px;
    border-style: double;

}

#codProducto{
    display: flex;
    flex-wrap: wrap;
    border-color: gray;
    border-width: 1px;
    border-style: double;
}

#codProducto input{
    display: flex;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    margin: 8px;
    margin-top: 5px;
    width: 100px;
    font: bold;
}


#clientes{
    display: flex;
    flex-flow: column;
    width: 500px;
    border-radius: 25px;  
    -ms-flex-align: center;
    border-color: gray;
    border-width: 1px;
    border-style: double;
}

label{
    font-size: 20px;
}


th, td, tr{
    width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}
   

table {  color: #333; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; width: 1000px; border-collapse: collapse;}

td, th { border: 1px black transparent; height: 30px; width: 200px; text-align: center;}  

th { background: #D3D3D3; font-weight: bold; }

td { background: #FAFAFA; text-align: center; }


caption {
   padding: 0.3em;
}

#vendedor p{
    display: flex;
    width:1000px; 
    margin-top: 30px;

    padding: 15px 5px;
}


#buscarLista{
    display: flex;
    flex-direction:column;
    width: 1000px;  
 
}

#buscarLista #buscarVenta{
    width: 300px;
}



#totalFra{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


#totalFra #botonesListaVentas{
  padding: 0 1rem;
  margin: 2rem;
}

input{
    border: transparent;
}




#actualizarVentas{
 width: 300px;
}